[submodule "vendor/github.com/SlyMarbo/rss"]
	path = vendor/github.com/SlyMarbo/rss
	url = https://github.com/SlyMarbo/rss
[submodule "vendor/github.com/golang/glog"]
	path = vendor/github.com/golang/glog
	url = https://github.com/golang/glog
[submodule "vendor/github.com/lib/pq"]
	path = vendor/github.com/lib/pq
	url = https://github.com/lib/pq
[submodule "vendor/github.com/mat/besticon"]
	path = vendor/github.com/mat/besticon
	url = https://github.com/mat/besticon
[submodule "vendor/github.com/prometheus/client_golang"]
	path = vendor/github.com/prometheus/client_golang
	url = https://github.com/prometheus/client_golang
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "vendor/github.com/vharitonsky/iniflags"]
	path = vendor/github.com/vharitonsky/iniflags
	url = https://github.com/vharitonsky/iniflags
[submodule "vendor/google.golang.org/grpc"]
	path = vendor/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
[submodule "vendor/github.com/axgle/mahonia"]
	path = vendor/github.com/axgle/mahonia
	url = https://github.com/axgle/mahonia
[submodule "vendor/github.com/beorn7/perks"]
	path = vendor/github.com/beorn7/perks
	url = https://github.com/beorn7/perks
[submodule "vendor/github.com/matttproud/golang_protobuf_extensions"]
	path = vendor/github.com/matttproud/golang_protobuf_extensions
	url = https://github.com/matttproud/golang_protobuf_extensions
[submodule "vendor/github.com/prometheus/client_model"]
	path = vendor/github.com/prometheus/client_model
	url = https://github.com/prometheus/client_model
[submodule "vendor/github.com/prometheus/common"]
	path = vendor/github.com/prometheus/common
	url = https://github.com/prometheus/common
[submodule "vendor/github.com/prometheus/procfs"]
	path = vendor/github.com/prometheus/procfs
	url = https://github.com/prometheus/procfs
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "vendor/google.golang.org/genproto"]
	path = vendor/google.golang.org/genproto
	url = https://github.com/google/go-genproto
[submodule "vendor/github.com/microcosm-cc/bluemonday"]
	path = vendor/github.com/microcosm-cc/bluemonday
	url = https://github.com/microcosm-cc/bluemonday
