# IDE specific files
.vscode/
.idea/
.zed/
*.iml

# Build-related output
out/
dist/
goliath
frontend/build/

# Generated proto definitions
**/*.pb.go

# User configuration
config.ini

# Go Vendor directories
vendor/

# Vite internals
.vite/
