.dark-theme {
  /* Theme background colors */
  --primary-sans-serif-font: 'Google Sans Flex';
  --primary-serif-font: 'Vollkorn';
  --primary-logo-font: 'Pacifico';

  /* Theme background colors */
  --primary-background-color: #2b303b;
  --primary-img-background-color: white;

  --primary-selected-color: color-mix(
    in srgb,
    var(--primary-background-color) 70%,
    #000
  );
  --primary-hover-color: color-mix(
    in srgb,
    var(--primary-background-color) 70%,
    #fff
  );

  --primary-darker-1-color: color-mix(
    in srgb,
    var(--primary-background-color) 50%,
    #000
  );
  --primary-darker-2-color: color-mix(
    in srgb,
    var(--primary-background-color) 30%,
    #000
  );
  --primary-darker-3-color: color-mix(
    in srgb,
    var(--primary-background-color) 10%,
    #000
  );
  --primary-darker-3-color: color-mix(
    in srgb,
    var(--primary-background-color) 10%,
    #000
  );
  --primary-darker-4-color: color-mix(
    in srgb,
    var(--primary-background-color) 5%,
    #000
  );

  --primary-lighter-1-color: color-mix(
    in srgb,
    var(--primary-background-color) 99%,
    #fff
  );
  --primary-lighter-2-color: color-mix(
    in srgb,
    var(--primary-background-color) 70%,
    #fff
  );
  --primary-lighter-3-color: color-mix(
    in srgb,
    var(--primary-background-color) 50%,
    #fff
  );
  --primary-lighter-4-color: color-mix(
    in srgb,
    var(--primary-background-color) 5%,
    #fff
  );

  /* Theme font colors */
  --primary-font-color: #f7ece6;
  --primary-warning-color: #f04134;
  --primary-font-code-color: #f38a6a;

  --primary-logo-font-color: var(--primary-font-color);

  --primary-font-darker-1-color: color-mix(
    in srgb,
    var(--primary-font-color) 70%,
    #000
  );
  --primary-font-darker-2-color: color-mix(
    in srgb,
    var(--primary-font-color) 50%,
    #000
  );

  --primary-font-lighter-1-color: color-mix(
    in srgb,
    var(--primary-font-color) 70%,
    #fff
  );

  /* Component colors */
  --action-bar-background-color: var(--primary-darker-2-color);
  --action-bar-border-color: var(--primary-lighter-2-color);

  --article-list-background-color: var(--primary-darker-2-color);

  --article-list-empty-primary-font-color: var(--primary-lighter-2-color);
  --article-list-empty-text-font-color: var(--primary-lighter-2-color);

  --card-normal-border-color: var(--primary-lighter-1-color);
  --card-selected-background-color: var(--primary-lighter-1-color);

  --card-header-actions-background-color: var(--primary-darker-2-color);
  --card-header-background-color: color-mix(
    in srgb,
    var(--primary-lighter-2-color) 25%,
    transparent
  );

  --article-header-unread-font-color: var(--primary-font-lighter-1-color);
  --article-header-read-font-color: var(--primary-font-darker-2-color);

  --article-feed-title-font-color: var(--primary-font-lighter-1-color);

  --article-background-color: var(--primary-darker-3-color);
  --article-date-color: var(--primary-font-darker-2-color);
  --article-font-color: var(--primary-font-lighter-1-color);

  --goliath-login-failed-message-color: var(--primary-warning-color);
  --goliath-box-shadow-color: color-mix(
    in srgb,
    var(--primary-darker-3-color) 30%,
    transparent
  );

  --pre-background-color: var(--primary-darker-1-color);
  --pre-box-shadow: color-mix(
    in srgb,
    var(--primary-darker-4-color) 50%,
    transparent
  );

  --code-background-color: var(--primary-darker-2-color);

  --table-row-background-color: var(--primary-darker-2-color);
  --table-border-color: var(--primary-lighter-2-color);
  --table-header-background-color: var(--primary-darker-1-color);
  --table-header-border-color: var(--primary-lighter-2-color);
  --table-header-font-color: var(--primary-font-lighter-1-color);

  --img-border-color: var(--primary-lighter-1-color);
}
