.default-theme {
  --primary-sans-serif-font: sans-serif;
  --primary-serif-font: 'Vollkorn';
  --primary-logo-font: 'Pacifico';

  --primary-background-color: #2c4650;
  --primary-selected-color: #263a42;

  --action-bar-background-color: white;
  --action-bar-border-color: #555;

  --primary-font-color: #e6f2f7;

  --sider-border-color: #aaa;

  --article-list-background-color: #f6f6f6;

  --article-list-empty-primary-font-color: #ababab;
  --article-list-empty-text-font-color: #888;

  --card-normal-border-color: white;
  --card-selected-background-color: #e9e9e9;
  --card-selected-border-color: white;
  --card-shadow-color: #d9d9d9;

  --card-header-actions-background-color: #d9d9d9bd;
  --card-header-background-color: #ecececbd;
  --card-header-selected-background-color: #ececec;

  --article-header-unread-font-color: #222;
  --article-header-read-font-color: #aaa;

  --article-feed-title-font-color: black;

  --article-background-color: white;
  --article-date-color: #888;
  --article-font-color: black;
}