{
  "rules": {
    "default-case": "off",
    "id-length": "off",
    "indent": [2, 2],
    "func-style": 0,
    "max-lines": "off",
    "no-bitwise": "off",
    "no-console": "off",
    "no-magic-numbers": "off",
    "no-param-reassign": "off",
    "react/no-set-state": "off",
    // For now.
    "require-jsdoc": "off",
    "strict": "off"
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": [
      "react"
  ]
}