.App {
  font-family: 'Nunito', sans-serif;
}

/* antd elements */

.ant-layout {
  height: 100vh;
}

.ant-layout-sider {
  width: 300px;
  overflow: auto;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
}

.ant-layout-sider .logo {
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: #ececec;
  font-size: 32px;
  padding-top: 24px;
  padding-bottom: 20px;
  background: #3a3a3a;
}

.ant-layout-content {
  overflow: initial;
  background: #ececec;
  padding: 24px 24px 0;
}

.ant-layout-footer {
  text-align: center;
}

.ant-tree {
  padding: 10px 0 0 15px;
}

.ant-tree li span.ant-tree-switcher.ant-tree-roots_open:after,
.ant-tree li span.ant-tree-switcher.ant-tree-center_open:after,
.ant-tree li span.ant-tree-switcher.ant-tree-bottom_open:after,
.ant-tree li span.ant-tree-switcher.ant-tree-noline_open:after {
  color: #ececec;
  content: "\E61D";
}

.ant-tree li span.ant-tree-switcher.ant-tree-roots_close:after,
.ant-tree li span.ant-tree-switcher.ant-tree-center_close:after,
.ant-tree li span.ant-tree-switcher.ant-tree-bottom_close:after,
.ant-tree li span.ant-tree-switcher.ant-tree-noline_close:after {
  color: #ececec;
  content: "\E61D";
}

.ant-tree-title {
  color: #ececec;
  font-size: 14px;
  width: 100%;
}

.ant-tree li {
  line-height: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-tree li ul {
  padding-top: 4px;
}

.ant-tree li a {
  display: inline;
  padding: 4px;
  transition: all 0.1s ease;
}

.ant-tree li a.ant-tree-node-selected,
.ant-tree li a:hover
{
  padding: 4px;
}

.ant-tree li a:hover {
  background-color: #222;
}

.ant-tree li a.ant-tree-node-selected {
  background-color: black;
}

.ant-card {
  margin-top: 5px;
}

/* Goliath elements */

.article-list {
}

.article-list-empty {
  text-align: center;
  font-size: 48px;
  padding-top: 10%;
}

.article-header {
  display: flex;
  align-items: stretch;
  flex-flow: row nowrap;
  justify-content:space-between;
}

.article-title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-date {
  width: 150px;
  min-width: 150px;
  font-size: 12px;
  text-align: right;
}

.article-content {
  font-size: 14px;
}

.article-content img {
  max-width: 100%;
  height: auto;
}