/******************************************************************************
 * Loading Page
 ******************************************************************************/

.GoliathLoadingPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
  height: 100vh;
  align-items: center;
}

.GoliathLoadingProgress {
  padding: 0 25% 0 25%;
}

/******************************************************************************
 * Login Page
 ******************************************************************************/

.GoliathLoginPage {
  display: flex;
  height: 100vh;
}

.GoliathLoginPageLogo,
.GoliathLoginPageSecondary {
  display: flex;
  align-items: center;
}

.GoliathLoginPageLogo {
  background-color: #243941;
  justify-content: flex-end;
  padding-right: 20px;
  font-family: var(--primary-logo-font), cursive;
  color: #e6f2f7;
  font-size: 48px;
  width: 40%;
}

.GoliathLoginPageSecondary {
  justify-content: flex-start;
  padding-left: 20px;
  width: 60%;
  height: 100%;
}

.GoliathLoginPageForm {
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.GoliathLoginPageForm .MuiTextField-root {
  margin: 8px 0 8px 0;
}

.GoliathLoginFormButton,
.GoliathLoginFormButton.MuiButton-root {
  margin-top: 8px;
  width: 100%;
  background-color: #243941;
  color: #e6f2f7;
}

.GoliathLoginFormButton.MuiButton-root:hover {
  width: 100%;
  background-color: #537e8f;
  color: #e6f2f7;
}

.GoliathLoginFailedMessage {
  color: #f04134;
  padding-bottom: 5px;
}

/******************************************************************************
 * Sidebar
 ******************************************************************************/

.GoliathLogo {
  text-align: center;
  font-family: var(--primary-logo-font), cursive;
  color: var(--primary-font-color);
  background-color: var(--primary-background-color);
  font-size: 48px;
  padding-top: 24px;
  padding-bottom: 20px;
}

.GoliathDrawer {
  width: 300px;
  flex-shrink: 0;
  font-family: var(--primary-sans-serif-font), sans-serif;
}

.GoliathDrawer .MuiDrawer-paper {
  width: inherit;
  box-sizing: border-box;
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
  border: none;
}

.GoliathStreamSelector.MuiBox-root,
.GoliathStreamSelectorSelected.MuiBox-root {
  display: flex;
  align-items: center;
  padding-left: 8px;
  line-height: 46px;
  background-color: var(--primary-background-color);
  padding-right: 15px;
  transition: all 0.1s ease;
  color: var(--primary-font-color);
  font-size: 14px;
  width: 100%;
  cursor: pointer;
}

.GoliathStreamSelector.MuiBox-root:hover,
.GoliathStreamSelectorSelected.MuiBox-root {
  background-color: var(--primary-selected-color);
}

/******************************************************************************
 * Sidebar Folder Feed List
 ******************************************************************************/

.GoliathFolderFeedList.MuiTreeView-root {
  line-height: 14px;
  padding: 10px 0 10px 0;
}

.GoliathFolderRow .MuiCollapse-root {
  margin-left: 24px;
}

.GoliathFolderTitle {
  font-family: var(--primary-sans-serif-font), sans-serif;
  color: var(--primary-font-color);
  font-size: 14px;
}

.GoliathFeedRow .MuiTreeItem-content .MuiTreeItem-iconContainer {
  align-self: flex-start;
  padding-top: 6px;
}

.GoliathFeedRow .MuiTreeItem-content .MuiTreeItem-label {
  line-height: 1.4;
}

.GoliathFeedIcon {
  height: 16px;
  width: 16px;
}

.GoliathFeedRow .MuiTreeItem-label {
  padding: 2px 0 2px 4px;
}

.GoliathFeedTitle {
  padding-right: 1px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--primary-font-color);
  font-family: var(--primary-sans-serif-font), sans-serif;
  margin: 0;
}

/******************************************************************************
 * Sidebar Footer
 ******************************************************************************/

.GoliathFooter {
  text-align: center;
  font-family: var(--primary-sans-serif-font), sans-serif;
  color: var(--primary-font-color);
  background-color: var(--primary-background-color);
  padding-top: 10px;
  font-size: 10px;
}

/******************************************************************************
 * Main Container
 ******************************************************************************/

.GoliathMainContainer {
  flex-grow: 1;
  flex-wrap: nowrap;
}

/******************************************************************************
 * Article List
 ******************************************************************************/

/** Common styling */

.GoliathArticleListEmpty {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--article-list-empty-primary-font-color);
  font-size: 24px;
  height: 100vh;
  justify-content: center;
}

.GoliathArticleListEmptyIcon.MuiSvgIcon-root {
  font-size: 120px;
  width: 100%;
}

/** Combined article list */

.GoliathArticleListBox.MuiBox-root {
  height: 100vh;
  padding: 0 24px;
  overflow-y: auto;
}

/** Split article list */

.GoliathSplitViewArticleListContainer.MuiContainer-root {
  padding: 0;
}

.GoliathArticleListBase.MuiPaper-root {
  border: 1px solid transparent;
  /* Fixed size to optimize scrolling */
  height: 182px;
}

.GoliathArticleListRead.MuiPaper-root {
  color: var(--article-header-read-font-color);
  letter-spacing: -0.03em;
}

.GoliathArticleListSelected.MuiPaper-root {
  border: 1px solid grey;
}

.GoliathArticleListGrid.MuiGrid-root {
  padding: 10px;
}

.GoliathArticleListTitleGrid.MuiGrid-root {
  width: 100%;
}

.GoliathArticleListTitleType.MuiTypography-root {
  width: 100%;
  font-family: var(--primary-serif-font), serif;
  font-size: 20px;
}

.GoliathArticleListMeta {
  display: flex;
}

.GoliathArticleListMetaChip.MuiChip-root {
  font-family: var(--primary-sans-serif-font), sans-serif;
}

.GoliathArticleListContent {
  padding-top: 5px;
}

.GoliathArticleListImagePreviewFigure {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin: 0 10px 0 0;
  border-radius: 10px;
}

.GoliathArticleListImagePreview {
  position: absolute;
}

.GoliathArticleListRead.MuiPaper-root .GoliathArticleListImagePreview {
  filter: grayscale(100%);
}

.GoliathSplitViewArticleListTitleDivider.MuiDivider-root::before {
  width: 0;
}

.GoliathArticleContentPreviewGrid.MuiGrid-root {
  height: 100px;
}

.GoliathArticleContentPreview.MuiTypography-root {
  font-size: 16px;
  font-family: var(--primary-serif-font), serif;
  overflow: hidden;
  text-overflow: "ellipsis";
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/******************************************************************************
 * Article
 ******************************************************************************/

.GoliathArticleOuter {
  border-top: 20px solid transparent;
}

.GoliathSplitViewArticleOuter {
  padding-left: 24px;
}

.GoliathHeaderContainer {
  margin-right: 20px;
  margin-bottom: 10px;
}

.GoliathArticleHeader {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: var(--card-header-background-color);
}

.GoliathArticleHeader p,
.GoliathArticleHeader a {
  color: var(--article-header-unread-font-color);
  text-decoration: none;
}

.GoliathArticleHeaderRead p,
.GoliathArticleHeaderRead a {
  color: var(--article-header-read-font-color);
  text-decoration: none;
}

.GoliathArticleTitle {
  width: 100%;
  font-family: var(--primary-serif-font), serif;
  font-size: 24px;
}

.GoliathArticleMeta {
  display: flex;
  padding-top: 5px;
  line-height: 16px;
  font-family: var(--primary-serif-font), serif;
}

.GoliathArticleFeed {
  font-size: 16px;
  display: flex;
  padding-left: 10px;
}

.GoliathArticleFeedTitle {
  padding-left: 5px;
  margin: 0;
  font-variant-caps: petite-caps;
}

.GoliathArticleFeedTitle.MuiTypography-root {
  padding-left: 5px;
  font-family: var(--primary-serif-font), serif;
  margin: 0;
  font-variant-caps: petite-caps;
}

.GoliathArticleDate {
  color: var(--article-date-color);
  font-family: var(--primary-serif-font), serif;
  padding-left: 10px;
  font-size: 16px;
  text-align: right;
  display: flex;
  align-items: baseline;
}

.GoliathArticleContent {
  font-size: 16px;
  font-family: var(--primary-serif-font), serif;
  color: var(--article-font-color);
  padding: 0;
}

.GoliathSplitViewArticleContent {
  font-size: 18px;
  font-family: var(--primary-serif-font), serif;
  color: var(--article-font-color);
  padding: 24px;
  overflow-y: auto;
  height: 90vh;
  max-width: 100%;
}

.GoliathSplitViewArticleContent * {
  max-width: 100%;
  overflow-wrap: break-word;
}

.GoliathSplitViewArticleContent pre,
.GoliathSplitViewArticleContent code {
  white-space: pre-wrap;
}

.GoliathArticleContent {
  font-size: 18px;
  font-family: var(--primary-serif-font), serif;
  color: var(--article-font-color);
  padding: 24px;
}

/******************************************************************************
 * Common Article styling
 ******************************************************************************/

.GoliathArticleContentStyling a {
  color: var(--article-font-color);
  font-weight: bold;
  text-decoration: none;
}

.GoliathArticleContentStyling h1,
.GoliathArticleContentStyling h2,
.GoliathArticleContentStyling h3,
.GoliathArticleContentStyling h4,
.GoliathArticleContentStyling h5,
.GoliathArticleContentStyling h6 {
  color: var(--article-font-color);
}

.GoliathArticleContentStyling img {
  max-width: 75%;
  height: auto;
  /* Center images */
  display: flex;
  margin: 0 auto;
}

.GoliathArticleContentStyling.MuiCardContent-root figure {
  display: flex;
  margin: 0 auto;
  max-width: 75%;
  flex-direction: column;
  padding-bottom: 10px;
}

.GoliathArticleContentStyling.MuiCardContent-root figure p,
.GoliathArticleContentStyling.MuiCardContent-root figcaption {
  text-align: center;
  padding-top: 10px;
  font-size: smaller;
  font-weight: bold;
}

/* Hide some elements that clutter article display. */
.GoliathArticleContentStyling.MuiCard .share_submission,
.GoliathArticleContentStyling.MuiCardContent-root .feedflare {
  display: none;
}